<%- include('../layout/header.ejs') %>

<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Your Orders</h1>
        </div>
      </div>
    </div>
    
  </div>
  
</div>

</div>
<div class="row align-items-center">
  <div class="col-md-4 col-12 d-flex justify-content-between">
    <form action="" method="GET" class="flex-grow-1 mt-3 me-3">
      <div class="input-group">
        <input
          id="search-input"
          type="search"
          class="form-control"
          placeholder="Search Products"
          name="Search"
        />
        <button id="search-button" type="submit" class="btn btn-primary" value="Search">
          Search
        </button>
      </div>
    </form>
   
  </div>
</div>

</div>
<div class="card text-center">
  <% if (userorders && userorders.length > 0) { %>
    <% userorders.reverse().forEach(order => { %>
      <div class="card-header">
        <h4>Order ID: <%= order.orderId %></h4>
      </div>

      <% if (order.products && order.products.length > 0) { %>
        <% order.products.forEach((productItem, index, array) => { %>
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-md-2 offset-md-1">
                <img
                  src="/productImage/<%= productItem.product && productItem.product.images && productItem.product.images[0] %>"
                  alt="Product Image"
                  width="100px"
                  height="100px"
                />
              </div>
              <div class="col-md-7">
                <h5 class="card-title"><strong>Product Title:</strong> <%= productItem.product && productItem.product.title %></h5>
                <h5 class="card-text"><strong>Order Status:</strong> <%= order.orderStatus %></h5>
                <h6 class="card-text"><strong>Product Price:</strong> <%= productItem.product && productItem.product.price %></h6>

                <% if (index === array.length - 1) { %>
                  <strong> <p>Expected Delivery Date: <%= new Date(parseInt(order.expectedDelivery)).toLocaleDateString("en-US") %></p></strong>
                  <a href="/orders-details/<%= order._id %>" class="btn btn-primary">More Details</a>
                <% } %>
              </div>
              <div class="col-md-2">

              </div>
            </div>
          </div>
        <% }); %>
      <% } else { %>
        <p>No products found for this order.</p>
      <% } %>
    <% }); %>
  <% } else { %>
    <p>No orders found.</p>
  <% } %>
</div>

<div class="container text-center mt-4">
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <% if (currentPage > 1) { %>
      <li class="page-item">
        <a
          class="page-link"
          href="?page=<%= currentPage - 1 %><%= search ? '&Search=' + search : '' %><%= sortOrder ? '&Sort=' + sortOrder : '' %>"
          tabindex="-1"
        >Previous</a>
      </li>
      <% } else { %>
      <li class="page-item disabled">
        <span class="page-link" tabindex="-1">Previous</span>
      </li>
      <% } %> 
      
      <% for (let i = 1; i <= totalPages; i++) { %>
      <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
        <a
          class="page-link"
          href="?page=<%= i %><%= search ? '&Search=' + search : '' %><%= sortOrder ? '&Sort=' + sortOrder : '' %>"
        ><%= i %></a>
      </li>
      <% } %> 

      <% if (currentPage < totalPages) { %>
      <li class="page-item">
        <a
          class="page-link"
          href="?page=<%= currentPage + 1 %><%= search ? '&Search=' + search : '' %><%= sortOrder ? '&Sort=' + sortOrder : '' %>"
        >Next</a>
      </li>
      <% } else { %>
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
      <% } %>
    </ul>
  </nav>
</div>


<%- include('../layout/footer.ejs') %>
