<%- include('../layout/header.ejs') %>

<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Shop</h1>
                </div>
            </div>
            <div class="col-lg-7">
                
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->



<div class="untree_co-section product-section before-footer-section">
<div class="container">
      <div class="row">

        <% if(getallProduct.length > 0) { 
            for(let i = 0; i < getallProduct.length; i++) { %>
                
                <div class="col-12 col-md-4 col-lg-3 mb-5">
                    <a class="product-item" href="/user/product/<%= getallProduct[i]._id %>">
                        <img src="/productImage/<%= getallProduct[i].image %>" class="img-fluid product-thumbnail">
                        <h3 class="product-title"><%= getallProduct[i].title %></h3>
                        <strong class="product-price">₹<%= getallProduct[i].price %></strong>
        
                        <span class="icon-cross">
                            <img src="/images/cross.svg" class="img-fluid">
                        </span>
                    </a>
                </div> 
              
            <% } 
        } else { %>
            <td colspan="5">Products Not Found</td>
        <% } %>
        
         

      </div>
</div>
</div>


<%- include('../layout/footer.ejs') %>