<%- include('layout/header.ejs') %>

<!-- Start Hero Section -->
<div class="hero">
  <div class="container">
    <% if(message && message.length > 0) { %>
      <h4 style="color: #fd0b3b;"><%= message %></h4>
  <% } %>
    <div class="row justify-content-between">
    
      <div class="col-lg-5">
        <div class="intro-excerpt">
         
          <h1>Modern Interior <span clsas="d-block">Design Studio</span></h1>
          <p class="mb-4">
            Modern Interior Design Studio Crafted with excellent We Help You Make Modern Interior Design.
          </p>
          <p>
            <a href="/shop" class="btn btn-secondary me-2">Shop Now</a
            ><a href="/shop" class="btn btn-white-outline">Explore</a>
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          <img src="/images/couch.png" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<!-- Start Product Section -->
<div class="product-section">
  <div class="container">
    <div class="row">
      <!-- Start Column 1 -->
      <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
        <h2 class="mb-4 section-title">Crafted with excellent</h2>
        <p class="mb-4">
          Crafted with excellent We Help You Make Modern Interior Design malesuada. Nullam ac aliquet velit.
          Aliquam vulputate velit imperdiet dolor tempor tristique.
        </p>
        <p><a href="/shop" class="btn">Explore</a></p>
      </div>
      <!-- End Column 1 -->
      <% if(getallProduct.length > 0) { for(let i = 0; i < 3; i++) { %>
      <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
        <a class="product-item" href="/product/<%= getallProduct[i]._id %>">
          <img
            src="/productImage/<%= getallProduct[i].images[1] %>"
            class="img-fluid product-thumbnail"
          />
          <h3 class="product-title"><%= getallProduct[i].title %></h3>
          <strong class="product-price"><%= getallProduct[i].price %></strong>

          <span class="icon-cross">
            <img src="/images/cross.svg" class="img-fluid" />
          </span>
        </a>
      </div>
      <% } } else { %>
      <td colspan="5">Product Not Found</td>
      <% } %>
    </div>
  </div>
</div>

<!-- End Product Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <h2 class="section-title">Why Choose Us</h2>
        <p>
          Modern Interior Design Studio Crafted with excellent We Help You Make Modern Interior Design. llam ac aliquet velit.
          Aliquam vulputate velit imperdiet dolor tempor tristique.
        </p>

        <div class="row my-5">
          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="/images/truck.svg" alt="Image" class="imf-fluid" />
              </div>
              <h3>Fast &amp; Free Shipping</h3>
             
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="/images/bag.svg" alt="Image" class="imf-fluid" />
              </div>
              <h3>Easy to Shop</h3>
            
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="/images/support.svg" alt="Image" class="imf-fluid" />
              </div>
              <h3>24/7 Support</h3>
              
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img src="/images/return.svg" alt="Image" class="imf-fluid" />
              </div>
              <h3>Hassle Free Returns</h3>
             
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="img-wrap">
          <img
            src="/images/why-choose-us-img.jpg"
            alt="Image"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Why Choose Us Section -->

<!-- Start We Help Section -->
<div class="we-help-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <div class="imgs-grid">
          <div class="grid grid-1">
            <img src="/images/img-grid-1.jpg" alt="Untree.co" />
          </div>
          <div class="grid grid-2">
            <img src="/images/img-grid-2.jpg" alt="Untree.co" />
          </div>
          <div class="grid grid-3">
            <img src="/images/img-grid-3.jpg" alt="Untree.co" />
          </div>
        </div>
      </div>
      <div class="col-lg-5 ps-lg-5">
        <h2 class="section-title mb-4">
          We Help You Make Modern Interior Design
        </h2>
        <p>
          Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis
          nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate
          velit imperdiet dolor tempor tristique. Pellentesque habitant morbi
          tristique senectus et netus et malesuada
        </p>

        <ul class="list-unstyled custom-list my-4">
          <li>Donec vitae odio quis nisl dapibus malesuada</li>
          <li>Donec vitae odio quis nisl dapibus malesuada</li>
          <li>Donec vitae odio quis nisl dapibus malesuada</li>
          <li>Donec vitae odio quis nisl dapibus malesuada</li>
        </ul>
        <p><a herf="#" class="btn">Explore</a></p>
      </div>
    </div>
  </div>
</div>
<!-- End We Help Section -->

<!-- Start Popular Product -->
<div class="popular-product">
  <div class="container">
    <div class="row">
      <% if(getallProduct.length > 0) { for(let i = 0; i < 3; i++) { %>
      <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
        <div class="product-item-sm d-flex">
          <div class="thumbnail">
            <img
              src="/productImage/<%= getallProduct[i].images[0] %>"
              alt="Image"
              class="img-fluid"
            />
          </div>
          <div class="pt-3">
            <h3><%= getallProduct[i].title %></h3>
            <p><%= getallProduct[i].description %></p>
            <p><a href="/product/<%= getallProduct[i]._id %>">Read More</a></p>
          </div>
        </div>
      </div>

      <% } } else { %>
      <td colspan="5">Product Not Found</td>
      <% } %>
    </div>
  </div>
</div>



<%- include('layout/footer.ejs') %>
