<%- include('../layout/header.ejs') %>

<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Your Orders</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card text-center">
  <% userorders.forEach(order => { %>
  <div class="card-header">
    <h2>Order ID: <%= order._id %></h2>
  </div>
  <% order.products.forEach(productItem => { %>
  <div class="card-body">
    <h5 class="card-title"><%= productItem.product.title %></h5>
    <p class="card-text"><%= order.paymentIntent.status %></p>
    <img
                    src="/productImage/<%= productItem.product.images[0] %>"
                    alt="Product Image"
                    width="50px"
                    height="50px"
                  />
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-body-secondary">
    <p>Expected Delivery Date: <%= new Date(parseInt(order.expectedDelivery)).toLocaleDateString("en-US") %></p>
    
  </div>
</div>
<% } %>
<% }); %>
<% }); %>
<div class="untree_co-section before-footer-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="site-blocks-table">
          <% userorders.forEach(order => { %>
            <h2>Order ID: <%= order._id %></h2>
            <p>Order Date: <%= order.createdAt.toLocaleString("en-US") %></p>
            <p>Expected Delivery Date: <%= new Date(parseInt(order.expectedDelivery)).toLocaleDateString("en-US") %></p>
            
            <ul>
              <% order.products.forEach(productItem => { %>
                <li>
                  <strong>Product Title:</strong> <%= productItem.product.title %><br>
                  <strong>Order Status:</strong> <%= order.paymentIntent.status %><br>
                  <strong>Image:</strong>
                  <img
                    src="/productImage/<%= productItem.product.images[0] %>"
                    alt="Product Image"
                    width="100px"
                    height="100px"
                  /><br>
                  <strong>Price:</strong> <%= productItem.product.price %><br>
                  <strong>Actions:</strong>
                  <% if (order.paymentIntent.status === 'Delivered') { %>
                    <button type="button" class="btn btn-warning">Return</button>
                  <% } else { %>
                    <button type="button" class="btn btn-danger">Cancel</button>
                  <% } %>
                </li>
              <% }); %>
            </ul>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../layout/footer.ejs') %>  