<%- include('header.ejs') %>

    <body>
        <div class="screen-overlay"></div>
        <%- include('navbar-aside.ejs') %>
        <main class="main-wrap">
           
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order Status Control</h2>
                        <h3>You can change the Order status of the product</h3>
                    </div>
                   
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            
                                <form action="" method="post">
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product Title</label>
                                    <% if (userorders && userorders.products && userorders.products.length > 0) { %>
                                        <% userorders.products.forEach(productItem => { %>
                                            
                                                <input type="text" placeholder="Type here" class="form-control" id="product_name" name="title" value="<%= productItem.product.title %>" readonly />
                                            </div>
                                            <!-- Add other input fields for additional product details -->
                                        <% }); %>
                                    <% } else { %>
                                        <div class="alert alert-warning" role="alert">
                                            No Products Found
                                        </div>
                                    <% } %>
                                    
                                    
                                    <div class="mb-4">
                                        <label for="product_slug" class="form-label">Order Id</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="product_slug" name="paymentId" value="<%= userorders.orderId%>" readonly/>
                                        <label for="product_slug" class="form-label">Total Amount </label>

                                        <input type="text" placeholder="Type here" class="form-control" id="product_slug" name="amount" value=" <%= userorders.paymentIntent.amount%>" readonly/>
                                        <label for="product_slug" class="form-label">Payment Method </label>

                                        <input type="text" placeholder="Type here" class="form-control" id="product_slug" name="method" value="<%= userorders.paymentIntent.method%>" readonly/>
                           
                                    
                                       
                                        

                                    </div>
                                
                                    <div class="mb-4">
                                        <label class="form-label">Date Of Order</label>
                                        <input placeholder="Type here" class="form-control" name="description" value="<%= `${userorders.createdAt.toLocaleDateString('en-GB')} ${userorders.createdAt.toLocaleTimeString('en-US')}` %>" readonly/>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Address</label>
                                        <div class="address-details border border-dark p-3 mb-3" style=" color: black; font-size: 30px; font-family: 'Courier New', Courier, monospace;">
                                            <!-- Adjust the font-size value as needed -->
                                      
                                            <% if (userorders.address) { %>
                                            
                                                <p class="mb-1"><strong>Name:</strong> <%= userorders.address[0].name %></p>
                                                <p class="mb-1"><strong>Mobile:</strong> <%= userorders.address[0].mobile %></p>
                                                <p class="mb-1"><strong>Street:</strong> <%= userorders.address[0].street %></p>
                                                <p class="mb-1"><strong>Area:</strong> <%= userorders.address[0].area %></p>
                                                <p class="mb-1"><strong>Landmark:</strong> <%= userorders.address[0].landmark %></p>
                                                <p class="mb-1"><strong>Pincode:</strong> <%= userorders.address[0].pincode %></p>
                                              </div>
                                            <% } else { %>
                                              <p>No address available</p>
                                            <% } %>
                                    </div>
                                
                                    <div class="mb-4">
                                        <label class="form-label">Order Status</label>
                                        <select class="form-select" name="orderStatus">
                                            <option value="Processing" <%= userorders.orderStatus === 'Processing' ? 'selected' : '' %>>Processing</option>
                                            <option value="Returned " <%= userorders.orderStatus === 'Cancelled' ? 'selected' : '' %>>Cancelled</option>
                                            <option value="Shipped" <%= userorders.orderStatus === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                                            <option value="Delivered" <%= userorders.orderStatus === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                                            <option value="Returning" <%= userorders.orderStatus === 'Returning' ? 'selected' : '' %>>Returning</option>
                                            <option value="Returned " <%= userorders.orderStatus === 'Returned' ? 'selected' : '' %>>Returned</option>
                                        </select>
                                    </div>
                                
                                
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-primary">Update Status</button>
                                    </div>
                                </form>
                                
                            </div>
                           
                            <!-- .col// -->
                        </div>
                        <!-- .row // -->
                    </div>
                    <!-- card body .// -->
                </div>
                <!-- card .// -->
            </section>
            <!-- content-main end// -->
            <%- include('footer.ejs') %>