<%- include('header.ejs') %>

<body>
  <div class="screen-overlay"></div>
  <%- include('navbar-aside.ejs') %>
  <main class="main-wrap">
    <header class="main-header navbar">
      <div class="col-search"></div>
      <div class="col-nav">
        <button
          class="btn btn-icon btn-mobile me-auto"
          data-trigger="#offcanvas_aside"
        >
          <i class="material-icons md-apps"></i>
        </button>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link btn-icon" href="#">
              <i class="material-icons md-notifications animation-shake"></i>
              <span class="badge rounded-pill">3</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-icon darkmode" href="#">
              <i class="material-icons md-nights_stay"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="requestfullscreen nav-link btn-icon"
              ><i class="material-icons md-cast"></i
            ></a>
          </li>

          <li class="dropdown nav-item">
            <a
              class="dropdown-toggle"
              data-bs-toggle="dropdown"
              href="#"
              id="dropdownAccount"
              aria-expanded="false"
            >
              <img
                class="img-xs rounded-circle"
                src="/images/people/avatar-2.png"
                alt="User"
            /></a>
            <div
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownAccount"
            >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="/admin/logout"
                ><i class="material-icons md-exit_to_app"></i>Logout</a
              >
            </div>
          </li>
        </ul>
      </div>
    </header>
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">Dashboard</h2>
          <p>Whole data about your business here</p>
        </div>
        <div>
          <a href="#" class="btn btn-primary"
            ><i class="text-muted material-icons md-post_add"></i>Create
            report</a
          >
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="card card-body mb-4">
            <article class="icontext">
              <span class="icon icon-sm rounded-circle bg-primary-light"
                ><i class="text-primary material-icons md-monetization_on"></i
              ></span>
              <div class="text">
                <h6 class="mb-1 card-title">Revenue</h6>
                <span>₹<%= revenue.toLocaleString('en-IN') %></span>

                <span class="text-sm"> Shipping fees are not included </span>
              </div>
            </article>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card card-body mb-4">
            <article class="icontext">
              <span class="icon icon-sm rounded-circle bg-success-light"
                ><i class="text-success material-icons md-local_shipping"></i
              ></span>
              <div class="text">
                <h6 class="mb-1 card-title">Orders</h6>
                <span><%=totalCount%></span>
                <span class="text-sm"> Excluding orders in transit </span>
              </div>
            </article>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card card-body mb-4">
            <article class="icontext">
              <span class="icon icon-sm rounded-circle bg-warning-light"
                ><i class="text-warning material-icons md-qr_code"></i
              ></span>
              <div class="text">
                <h6 class="mb-1 card-title">Products</h6>
                <span><%=productsCount%></span>
                <span class="text-sm"> In <%=categoryCount%> Categories </span>
              </div>
            </article>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card card-body mb-4">
            <article class="icontext">
              <span class="icon icon-sm rounded-circle bg-info-light"
                ><i class="text-info material-icons md-shopping_basket"></i
              ></span>
              <div class="text">
                <h6 class="mb-1 card-title">Monthly Earning</h6>
                <span>$6,982</span>
                <span class="text-sm"> Based in your local time. </span>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-8 col-lg-12">
          <div class="card mb-4">
            <article class="card-body">
              <h5 class="card-title">Sale statistics</h5>
              <canvas id="myChart" height="120px"></canvas>
            </article>
          </div>
          <div class="row">
            <div class="col-xl-6">
              <div class="card mb-4">
                <article class="card-body">
                  <h5 class="card-title">New Members</h5>
                  <div class="new-member-list">
                    <% if (newUsers.length > 0) { %> <% for (let i = 5 - 1; i >=
                    0; i--) { %>
                    <div
                      class="d-flex align-items-center justify-content-between mb-4"
                    >
                      <div class="d-flex align-items-center">
                        <div>
                          <h6><%= newUsers[i].name %></h6>
                        </div>
                      </div>
                      <p><%= newUsers[i].email %></p>
                      <strong>
                        <p>
                          <%= new
                          Date(newUsers[i].createdAt).toLocaleString("en-US", {
                          year: 'numeric', month: '2-digit', day: '2-digit',
                          hour: '2-digit', minute: '2-digit', second: '2-digit'
                          }) %>
                        </p>
                      </strong>
                    </div>
                    <% } %> <% } else { %>
                    <p>User Not Found</p>
                    <% } %>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-xl-4 col-lg-12">
              <div class="card mb-4">
                <article class="card-body">
                  <h5 class="card-title"> Order Statistics</h5>
                  <canvas id="myCharts" width="520" height="500" </canvas>
                </article>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-12">
          <div class="card mb-4">
            <article class="card-body">
              <h5 class="card-title">Monthly Order Statistics</h5>
              <canvas id="myCharter" height="200"> </canvas>
            </article>
          </div>
        </div>
       
      </div>
      <div class="card mb-4">
        <header class="card-header">
          <h4 class="card-title">Latest orders</h4>
          <div class="row align-items-center"></div>
        </header>
        <div class="card-body">
          <div class="table-responsive">
            <div class="table-responsive">
              <table class="table align-middle table-nowrap mb-0">
                <thead class="table-light">
                  <tr>
                    <th scope="col" class="text-center">
                      <div class="form-check align-middle">
                        <label
                          class="form-check-label"
                          for="transactionCheck01"
                        ></label>
                      </div>
                    </th>

                    <th class="align-middle" scope="col">Order ID</th>
                    <th class="align-middle" scope="col">Product Name</th>
                    <th class="align-middle" scope="col">Total</th>
                    <th class="align-middle" scope="col">Payment Status</th>
                    <th class="align-middle" scope="col">Payment Method</th>
                    <th class="align-middle" scope="col">
                      Ordered Date & Time
                    </th>
                    <th class="align-middle" scope="col">Cancel / Return</th>
                  </tr>
                </thead>
                <tbody>
                  <% userorders.reverse().forEach(order => { %> <%
                  order.products.forEach((productItem, index, array) => { %>
                  <tr>
                    <td class="text-center"></td>
                    <td>
                      <p class="fw-bold"><%= order.orderId %></p>
                    </td>
                    <td><%= productItem.product.title %></td>
                    <td><%= order.paymentIntent.amount %></td>
                    <td><%= order.paymentIntent.status %></td>
                    <td><%= order.paymentIntent.method %></td>
                    <td>
                      <% if (index === array.length - 1) { %>
                      <strong
                        ><p>
                          <%= new Date(order.createdAt).toLocaleString("en-US",
                          { year: 'numeric', month: '2-digit', day: '2-digit',
                          hour: '2-digit', minute: '2-digit', second: '2-digit'
                          }) %>
                        </p></strong
                      >
                      <% } %>
                    </td>
                    <td><%= order.request %></td>
                  </tr>
                  <% }); %> <% }); %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-xl-4 col-lg-12">
            <div class="card mb-4">
              <article class="card-body">
                <h5 class="card-title">Daily Order Statistics</h5>
                <canvas id="myChartdaily" style="width: 100%; height: 400px;"></canvas>
              </article>
            </div>
          </div>
          <span id="hiddenSpan1" style="display: none"
            ><%=cancelledPercentage%></span
          >
          <!-- table-responsive end// -->
          <span id="hiddenSpan2" style="display: none"
            ><%=completedPercentage%></span
          >
          <!-- table-responsive end// -->
          <span id="hiddenSpan" style="display: none"
            ><%=returnPercentage%></span
          >
          <span id="jan" style="display: none"
          ><%=monthlyCounts%></span
        >
        <span id="feb" style="display: none"
        ><%=monthlyCounts[1]%></span
      >
      <span id="dailyCounts" style="display: none"
        ><%=dailyCounts%></span
      >
      <span id="userCounts" style="display: none"
      ><%=userCounts%></span
    >
    <span id="completeCount" style="display: none"
      ><%=completeCount%></span
    >
          <!-- table-responsive end// -->
        </div>
      </div>
      <div class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-start">
            <li class="page-item active">
              <a class="page-link" href="#">01</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">02</a></li>
            <li class="page-item"><a class="page-link" href="#">03</a></li>
            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">16</a></li>
            <li class="page-item">
              <a class="page-link" href="#"
                ><i class="material-icons md-chevron_right"></i
              ></a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
    <!-- content-main end// -->
    <%- include('footer.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      const ctx = document.getElementById("myCharts");
      const yearlyProfit = document.getElementById("myCharter");
      const daily = document.getElementById("myChartdaily");
      const ordersByDay = document.getElementById("dailyCounts");
      var mainChart = document.getElementById('myChart').getContext('2d');
      // const data = ordersByDay.map(entry => entry.count);
    
      const returnPercentage = document.getElementById("hiddenSpan").innerHTML;
      const cancelledPercentage = document.getElementById("hiddenSpan1").innerHTML;
      const completedPercentage = document.getElementById("hiddenSpan2").innerHTML;
      const ordersByDays = document.getElementById("dailyCounts").innerHTML;
      const userCounts = document.getElementById("userCounts").innerHTML;
      const []=jan = document.getElementById("jan").innerHTML;
      const completeCount = document.getElementById("completeCount").innerHTML;
      console.log(jan)


      new Chart(mainChart, {
  type: 'line',
  data: {
    labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
    datasets: [
      {
        label: 'Orders',
        tension: 0.2,
        fill: true,
        backgroundColor: 'rgba(44, 120, 220, 0.2)',
        borderColor: 'rgba(44, 120, 220)',
        data: jan,
      },
      {
        label: 'Users',
        tension: 0.2,
        fill: true,
        backgroundColor: 'rgba(4, 209, 130, 0.2)',
        borderColor: 'rgb(4, 209, 130)',
        data: userCounts,
      },
      {
        label: 'Products',
        tension: 0.2,
        fill: true,
        backgroundColor: 'rgba(380, 200, 230, 0.2)',
        borderColor: 'rgb(380, 200, 230)',
        data: completeCount,
      },
    ],
  },
  options: {
    plugins: {
      legend: {
        labels: {
          usePointStyle: true,
        },
      },
    },
  },
});

    
      new Chart(ctx, {
        type: "pie",
        data: {
          labels: ["Completed", "Cancellation", "Return"],
          datasets: [
            {
              label: "Order Status",
              data: [completedPercentage, cancelledPercentage, returnPercentage],
              backgroundColor: ["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)"],
              hoverOffset: 4,
            },
          ],
        },
      });
    
      new Chart(yearlyProfit, {
  type: "bar",
  data: {
    labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July','Aug','Sept','Oct','Nov','Dec'],
    datasets: [
      {
        label: 'Number Of Orders   ',
        data: jan,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(255, 205, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(201, 203, 207, 0.2)'
        ],
        borderColor: [
          'rgb(255, 99, 132)',
          'rgb(255, 159, 64)',
          'rgb(255, 205, 86)',
          'rgb(75, 192, 192)',
          'rgb(54, 162, 235)',
          'rgb(153, 102, 255)',
          'rgb(201, 203, 207)'
        ],
        borderWidth: 1
      }
    ],
  },
  options: {
    scales: {
      y: {
        ticks: {
          stepSize: 3, // Set the step size between ticks
          beginAtZero: true, // Starts the y-axis from 0
          max: 30, // Set the maximum value for the y-axis
        }
      }
    }
  }
});
new Chart(daily, {
        type: "line",
        data: {
          labels: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31],
          datasets: [
            {
              label: "My First Dataset",
              data: ordersByDays,
              backgroundColor: ["rgb(255, 99, 132)", "rgb(54, 162, 235)", "rgb(255, 205, 86)"],
              hoverOffset: 1,
            },
          ],
        },
      });



    </script>
    
  </main>
</body>
