<%- include('header.ejs') %>

    <body>
        <div class="screen-overlay"></div>
        <%- include('navbar-aside.ejs') %>
        <main class="main-wrap">
            
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Products List</h2>
                        <p>Here is the list of products</p>
                    </div>
                    <div>
                        <a href="#" class="btn btn-light rounded font-md">Export</a>
                        <a href="#" class="btn btn-light rounded font-md">Import</a>
                        <a href="#" class="btn btn-primary btn-sm rounded">Create new</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row align-items-center">
                            <div class="col col-check flex-grow-0">
                                <div class="form-check ms-2">
                                    <input class="form-check-input" type="checkbox" value="" />
                                </div>
                            </div>
                            <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                                <select class="form-select">
                                    <option selected>All category</option>
                                    <option>Electronics</option>
                                    <option>Clothes</option>
                                    <option>Automobile</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-6">
                                <input type="date" value="02.05.2021" class="form-control" />
                            </div>
                            <div class="col-md-2 col-6">
                                <select class="form-select">
                                    <option selected>Status</option>
                                    <option>Active</option>
                                    <option>Disabled</option>
                                    <option>Show all</option>
                                </select>
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <!-- <div class="card-body"> -->
                        <!-- <article class="itemlist"> -->
                            <!-- <div class="row align-items-center">
                                <div class="col col-check flex-grow-0">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                    <a class="itemside" href="#">
                                        <div class="left">
                                            <img src="assets/imgs/items/1.jpg" class="img-sm img-thumbnail" alt="Item" />
                                        </div>
                                        <div class="info">
                                            <h6 class="mb-0">Seeds of Change Organic Quinoa</h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-4 col-price"><span>$34.50</span></div>
                                <div class="col-lg-2 col-sm-2 col-4 col-status">
                                    <span class="badge rounded-pill alert-success">Active</span>
                                </div>
                                <div class="col-lg-1 col-sm-2 col-4 col-date">
                                    <span>02.11.2021</span>
                                </div>
                                <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                    <a href="#" class="btn btn-sm font-sm rounded btn-brand"> <i class="material-icons md-edit"></i> Edit </a>
                                    <a href="#" class="btn btn-sm font-sm btn-light rounded"> <i class="material-icons md-delete_forever"></i> Delete </a>
                                </div>
                            </div> -->
                                <table>
                                    <tr>
                                        <th>Title</th>
                                        <th>Price</th>
                                        <th>Image</th>
                                        <th>List</th>
                                  
                                    </tr>
                        
                                    <% if(getallProduct.length > 0) { 
                                        for(let i = 0; i < getallProduct.length; i++) { %>
                                            <tr>
                                                <td><%= getallProduct[i].title %></td>
                                                
                                                
                                                <td><%= getallProduct[i].price %></td>
                                                <td><img src="/productImage/<%= getallProduct[i].image %>" alt="/productImage/<%= getallProduct[i].image %>" width="100px" height="100px"></td>
                                                <td><%= getallProduct[i].list %></td>
                                                <td>
                                                    <a href="/admin/product/<%= getallProduct[i]._id %>"><button  type="button" class="btn btn-warning">Edit</button></a><br>
                                                    
                                                </td>   
                                            </tr>
                                            
                                        <% } 
                                    } else { %>
                                        <td colspan="5">Users Not Found</td>
                                    <% } %>
                                </table>
                            <!-- row .// -->
                        </article>
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
            <!-- content-main end// -->
            <%- include('footer.ejs') %>

