<%- include('header.ejs') %>

    <body>
        <div class="screen-overlay"></div>
        <%- include('navbar-aside.ejs') %>
        <main class="main-wrap">
            
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order List</h2>
                        <p>Here is the list of oders</p>
                    </div>
                  
                </div>
                <div class="card mb-4">
                   
                    <div class="card mb-4">
                        <div class="card-body">
                            <!-- Loop through users -->
                            <% if (userorders.length > 0) { 
                                userorders.forEach(order => { %>
                                    <% order.products.forEach(productItem => { %>
                                        <article class="itemlist">  
                                        <div class="row align-items-center">
                                            <!-- Name -->
                                            <div class="left">
                                                <img src="/productImage/<%= productItem.product.images[0] %>" class="img-sm img-thumbnail" alt="Item" />
                                            </div>  
                                            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                                                <h6>Product Title:</h6>
                                                <a class="itemside" href="#">
                                                    <div class="info">
                                                        <h4 class="mb-0"><%= productItem.product.title %></h4>
                                                    </div>
                                                </a>
                                            </div>
                                            
                                            <div class="col-lg-2 col-sm-2 col-4 col-price">
                                                <h6>Order Status:</h6>
                                                <span> <%= order.orderStatus %></span>
                                            </div>
                                            <!-- Email -->
                                            <div class="col-lg-2 col-sm-2 col-4 col-price">
                                                <h6>Payment Status:</h6>
                                                <span>  <%= order.paymentIntent.status %></span>
                                            </div>
                                            <div class="col-lg-2 col-sm-2 col-4 col-price">
                                                <h6>Users Name:</h6>
                                                <span> <%= order.orderby.name %></span>
                                            </div>
                                            
                                            
                                            
                                           
                                            
                                            <!-- Edit Button -->
                                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                                <a href="/admin/update-status/<%= order._id %>" class="btn btn-sm font-sm rounded btn-brand">
                                                    <i class="material-icons md-edit"></i> Edit
                                                </a>
                                            </div>
                                        </div>
                                    </article>
                                    <% }); %>
                                    <% }); %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="3">Orders Not Found</td>
                                    </tr>
                                <% } %>
                             
                        </div>
                    </div>
                 
                   
                    <div class="container text-center mt-4">
                        <nav aria-label="...">
                          <ul class="pagination justify-content-center">
                            <% if (currentPage > 1) { %>
                            <li class="page-item">
                              <a
                                class="page-link"
                                href="?page=<%= currentPage - 1 %>"
                                tabindex="-1"
                                >Previous</a
                              >
                            </li>
                            <% } else { %>
                            <li class="page-item disabled">
                              <span class="page-link" tabindex="-1">Previous</span>
                            </li>
                            <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
                            <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
                              <a
                                class="page-link"
                                href="?page=<%= i %>"
                                ><%= i %></a
                              >
                            </li>
                            <% } %> <% if (currentPage < totalPages) { %>
                            <li class="page-item">
                              <a
                                class="page-link"
                                href="?page=<%= currentPage + 1 %>"
                                >Next</a
                              >
                            </li>
                            <% } else { %>
                            <li class="page-item disabled">
                              <span class="page-link">Next</span>
                            </li>
                            <% } %>
                          </ul>
                        </nav>
                      </div>
            </section>
            <!-- content-main end// -->
            <%- include('footer.ejs') %>

